* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  animation: loaderFadeOut 3s ease-in-out forwards;
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.content {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

body.loaded .content {
  opacity: 1;
  visibility: visible;
}

body.loaded .loader {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #89b2ff;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #89b2ff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav img.logo {
  height: 50px;
  margin-right: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

nav ul a:hover {
  color: #ffa500;
}
