* {
  font-family: "More Sugar", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10%;
}

#estiloNav {
  background-color: #06bccd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
}

.logo-container {
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.nav {
  color: #000000;
}

.botonNav {
  display: flex;
}

.botonNav button,
.botonSesion button {
  font-size: 14px;
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.botonNav button:hover,
.botonSesion button:hover {
  background: linear-gradient(135deg, #06bccd, #ff6f61);
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease 0.2s;
}

.informacionMaquina {
  display: flex;
  flex-direction: row;
  font-family: Agrandir, sans-serif;
  font-size: 14px;
  justify-content: space-between;
  width: 100%;
}

.textoTitulo {
  font-size: 16px;
}
.textoMaquina {
  width: 50%;
  text-align: left;
  padding: 2%;
  line-height: 3;
}

.imagenMaquina {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenMaquina img {
  max-width: 100%;
  height: auto;
}

.botonNav button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#estiloFooter {
  font-family: Agrandir, sans-serif;
  font-size: 14px;
  background-color: #06bccd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
}

#estiloFooter img {
  width: 3%;
  height: auto;
  margin: 0 10px;
}

#estiloFooter div {
  flex: 1;
  text-align: center;
  margin: 5px 0;
}

.columaFooter {
  display: flex;
  flex: 1;
}

@media (max-width: 768px) {
  body {
    margin-top: 50%;
  }

  .botonNav {
    flex-direction: row;
  }

  #estiloFooter img {
    width: 20px;
    margin: 5px;
  }

  .columaFooter {
    flex-direction: column;
    align-items: center;
  }

  #estiloNav {
    flex-direction: column;
    align-items: flex-start;
  }

  .botonNav button {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .informacionMaquina {
    flex-direction: column;
    align-items: center;
  }

  .textoMaquina {
    width: 100%;
    text-align: center;
  }

  .imagenMaquina {
    width: 100%;
    justify-content: center;
  }
}
